<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acafela.harmony">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-feature android:name="android.hardware.sensor.proximity" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AudioCallActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.VideoCallActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.TestCallActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.TestEncodingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.TestAsyncEncodingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.TestVideoEncodingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.TestVideoEncodingSurfaceActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.TestMainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.TestProximityScreenActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.HarmonyService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".br.OnBootCompleteReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>